.marker {
        position:absolute;
        background:rgba(100,200,100,0.5);
        z-index:20
}

.marker_red {
        position:absolute;
        background:rgba(221, 41, 5, 0.5);
        z-index:20
}

#editor {
    height: 730px; 
    width: 100%;
} 

#editorinput {
    height: 250px;
    width: 100%;
}
#editordata {
    height: 250px;
    width: 100%;
}
#editorresult {
    height: 200px;
    width: 100%;
}



 @media screen and (min-width: 1920px) {
    #editor {
        height: 720px; 
        width: 100%;
    }
    #editorinput {
        height: 250px;
        width: 100%;
    }
    #editordata {
        height: 250px;
        width: 100%;
    }
    #editorresult {
        height: 200px;
        width: 100%;
    }
  }

   @media screen and (min-width: 2560px) {
    #editor {
        height: 1070px; 
        width: 100%;
    }
    #editorinput {
        height: 350px;
        width: 100%;
    }
    #editordata {
        height: 350px;
        width: 100%;
    }
    #editorresult {
        height: 300px;
        width: 100%;
    }
  }

  @media screen and (min-width: 3000px) {
    #editor {
        height: 1320px; 
        width: 100%;
    }
    #editorinput {
        height: 450px;
        width: 100%;
    }
    #editordata {
        height: 450px;
        width: 100%;
    }
    #editorresult {
        height: 400px;
        width: 100%;
    }
  }

  @media screen and (min-width: 3360px) {
    #editor {
        height: 1520px; 
        width: 100%;
    }
    #editorinput {
        height: 500px;
        width: 100%;
    }
    #editordata {
        height: 500px;
        width: 100%;
    }
    #editorresult {
        height: 500px;
        width: 100%;
    }
  }

  @media screen and (min-width: 3800px) {
    #editor {
        height: 1790px; 
        width: 100%;
    }
    #editorinput {
        height: 600px;
        width: 100%;
    }
    #editordata {
        height: 500px;
        width: 100%;
    }
    #editorresult {
        height: 600px;
        width: 100%;
    }
  } 