<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Open Policy Agent Alfred</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/assets/favicon.ico') }} " />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/opa.css') }}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" width="40px" height="40px"/> OPA Alfred <i style="color:white; font-size: xx-small;">App v.{{app_version}} | OPA v.{{opa_bin_version}}</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Main</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        </li>
                        <li><a class="dropdown-item" href="#">
                            <input class="form-check-input" type="checkbox" value="" id="coverage">
                            <label class="form-check-label" for="coverage">Coverage</label>
                            </a>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="https://github.com/dolevf/Open-Policy-Agent-Alfred/issues" target="_blank">Report a Bug</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.openpolicyagent.org/docs/latest/policy-language/" target="_blank">Rego Docs</a></li>
            </ul>
        </div>
    </div>

</nav>
<div class="alert alert-dark" role="alert" style="display: none;" id="published_link", name="published_link">
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-7">
        <div class="well">
            <div class="form-group">
                <label for="policy-area"><b>POLICY</b></label>
                {% if data %}
                    <div id="editor">{{ data.policy }}</div>
                {% else %}
                <div id="editor"># Alfred v.{{app_version}}

# Welcome to OPA Alfred! The reasonably usable self-hosted alternative to OPA's Playground

# Found a bug? report at https://github.com/dolevf/Open-Policy-Agent-Alfred/issues

# Enter your policy below

package play

default hello = false

hello {
    m := input.message
    m == "Hello World!!!"
}
</div>
{% endif %}

<div class="btn-group" role="group">
    <button type="button" class="btn btn-success btn-sm" style="margin-right: 3px;" onclick="query();" title="Evaluate Policy with input and data">Evaluate</button>
    <button type="button" class="btn btn-danger btn-sm mr-1" style="margin-right: 3px;" onclick="clearPolicyEditor();" title="Clears Policy Window">Clear</button>
    <button type="button" class="btn btn-primary btn-sm mr-1" style="margin-right: 3px;" onclick="copyPolicyEditor();" title="Copy Policy Code to Clipboard">Copy to Clipboard</button>
    <button type="button" class="btn btn-secondary btn-sm mr-1" style="margin-right: 3px;" onclick="download_policy();" title="Download Policy to Disk">Download Policy</button>
    <button type="button" class="btn btn-secondary btn-sm mr-1" style="margin-right: 3px;" onclick="publish_policy();" title="Download Policy to Disk">Publish Policy</button>
  </div>
          </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="form-group">
                        <label for="input-area"><b>INPUT</b></label>
                        {% if data %}
                        <div id="editorinput">{{ data.input }}</div>
                        {% else %}
                        <div id="editorinput">{"message":"Hello World!!!"}</div>
                        {% endif %}
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="form-group">
                        <label for="data-area"><b>DATA</b></label>
                        {% if data %}
                        <div id="editordata">{{ data.data }}</div>
                        {% else %}
                        <div id="editordata"></div>
                        {% endif %}
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="form-group">
                        <label for="result-area"><b>OUTPUT</b> <span id="query_eval_ns" style="color:rgb(107, 101, 101); font-size: x-small; font-style: italic;"></span></label>
                        <div id="editorresult"></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/golang");
    editor.setShowPrintMargin(false);
    
    var editordata = ace.edit("editordata");
    editordata.session.setMode("ace/mode/yaml");

    var editorresult = ace.edit("editorresult");
    editorresult.session.setMode("ace/mode/json");
    editorresult.setReadOnly(true);

    var editorinput = ace.edit("editorinput");
    editorinput.session.setMode("ace/mode/json");

    // Fonts
    editor.setOptions({
        fontSize: "10pt"
    });

    editorinput.setOptions({
        fontSize: "10pt",
        wrap: false
    });

    editordata.setOptions({
        fontSize: "10pt"
    });

    editorresult.setOptions({
        fontSize: "10pt"
    });

</script>

<script>
    function clearPolicyEditor() {
        editorresult.setValue("", 1)
        editor.setValue("", 1)
        const prevMarkers = editor.session.getMarkers();
        if (prevMarkers) {
            const prevMarkersArr = Object.keys(prevMarkers);
             for (let item of prevMarkersArr) {
                editor.session.removeMarker(prevMarkers[item].id);
            }
        }
    }

    function copyPolicyEditor() {
        var copyText = editor.getValue();
        navigator.clipboard.writeText(copyText);
    }
</script>

<script>
    function query() {
        var xhr = new XMLHttpRequest();
        var url = "http://" + window.location.host + "/evaluate";

        var policy = editor.getValue();
        var data = editordata.getValue();
        var inputs = editorinput.getValue();
        var coverage = document.getElementById('coverage').checked

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var resp = JSON.parse(xhr.responseText);
                editorresult.setValue(JSON.stringify(resp.result, null, 2), 1)
                document.getElementById("query_eval_ns").textContent = resp.query_eval_ns + " ns";

                if (coverage == true);
                    var Range = ace.require('ace/range').Range;
                    resp.coverage.forEach(function (i) {
                        editor.session.addMarker(new Range(i.start -1, 0, i.end -1, 1), "marker", "fullLine");
                    });

                    resp.no_coverage.forEach(function (i) {
                        editor.session.addMarker(new Range(i.start -1, 0, i.end -1, 1), "marker_red", "fullLine");
                    });
            }
        };
        var data = JSON.stringify({"data": data, "inputs": inputs, "policy":policy, "coverage":coverage});
        xhr.send(data);
    }

    function download_policy() {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(editor.getValue()));
        element.setAttribute('download', "policy.rego");
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }

    function publish_policy() {
        var xhr = new XMLHttpRequest();
        var url = "http://" + window.location.host + "/publish";

        var policy = editor.getValue();
        var data = editordata.getValue();
        var inputs = editorinput.getValue();

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var resp = JSON.parse(xhr.responseText);
                var div = document.getElementById('published_link');
                div.style.display = 'block';
                div.innerHTML = "Click the link to go to your "
                var aTag = document.createElement('a');
                aTag.setAttribute('href',"/publish/" + resp.published_link);
                aTag.setAttribute('target', "_blank");
                aTag.innerText = "published policy.";
                div.appendChild(aTag);
            }
        };
        var data = JSON.stringify({"data": data, "inputs": inputs, "policy":policy});
        xhr.send(data);
    }
</script>
<footer class="page-footer font-small bg-dark">
    <div class="footer-copyright text-center py-3" style="color: white;">Built by <a href="mailto:dolev@lethalbit.com">Dolev Farhi</a></div>
</footer>
</body>
</html>